.footer-contents {
    background: #FFF5F6;
    flex-shrink: 0;
}
.footer-texts {
    margin-left: 16px;
}

.footer-text1 {
    color: #FFA5BA;
    font-family: Titan One;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: 0;
    @media screen and (min-width: 768px){
        
    }
}

.footer-text2 {
    color: #D41443;
    font-family: Titan One;
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 3.48px;
    margin-top: 10px;
}

.footer-socials {
    display: flex;
    align-items: last baseline;
    justify-content: end;
    gap: 30px;
    
}

/* icon fill change on hover not working*/
.socials-link-icon:hover,
.socials-link-icon:focus {
    fill: #D41443;
}

.footer-top {
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    height: 877px;
    margin-top: 40px;
}

.footer-contacts {
    gap: 40px;
    margin-right:16px;
    position: relative;
    top: 120px;
    right: 230px;
     
}
.footer-con-tel {
    display: flex;
    width: 230px;
    font-size: 12px;
    position: relative;
    right: 40px;
}

.footer-contact-text {
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 0.32px;
    
}

.footer-contact-link {
    color: #D41443;
    text-decoration: none;
}

.footer-copyright {
    text-align: center;
    color: #907E82;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 0.28px;
    gap: 7px;
}

@media screen and (minwidth: 768px) {
    .footer-text1 {
        font-size: 26px;
        letter-spacing: 1.04px;
    }

    .footer-text2 {
        font-size: 48px;
        letter-spacing: 2.88px;
    }
}
