.footer-contents {
    background: #FFF5F6;
     
}
// .footer-texts {
//     margin-left: 16px;
// }

.footer-text1 {
    width: 232px;
    height: 42px;
    color: #FFA5BA;
    font-family: Titan One;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    @media screen and (min-width: 768px){
        font-size: 20px;
        width: 340px;
        height: 57px;
        letter-spacing: 1.04px;

    }
        @media screen and (min-width: 768px) {
            font-size: 30px;
            width: 472px;
            height: 34px;
            letter-spacing: 1.2px;
    
        }
}

.footer-text2 {
    color: #D41443;
    font-family: Titan One;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 1.36px;
    margin-top: 10px;
    @media screen and (min-width: 768px){
        letter-spacing: 3.48px;
    }
    @media screen and (min-width: 1200px){
        font-size: 58px;
    }
}
.footer-contacts {
    
    display: flex;
    justify-content: end;
    align-items: self-end;
}

.footer-socials {
    width: 32px;
    height: 32px;
    display: flex;
    gap: 30px;
    padding: 80px 0px 80px 150px;
     position: relative;
    left: 60px;
    // align-items: last baseline;
    justify-content: left;
     
    @media screen and (min-width: 768px){
        width: 34px;
        height: 34px;
        position: relative;
            left: 200px;
    }
}
.footer-con-tel {
    width: 250px;
    height: 22px;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    // padding-right: 16px;
    @media screen and(min-width: 768px) {
        width: 280px;
        height: 26px;

    }

    @media screen and (min-width: 1200px) {
        width: 319px;
        height: 30px;

    }
}

.footer-contact-text {
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 186%;
    width: 250px;
    height: 22px;
    // letter-spacing: 0.32px;
    @media screen and(min-width: 768px) {

        font-size: 14px;
    }

    @media screen and (min-width: 1200px) {

        font-size: 16px;
    }

}


circle {
    fill: #FEA5BB;
}

circle:hover,
circle:focus {
    fill: #D41443;
}

.footer-top {
    // display: flex;
    // align-items: last baseline;
    // justify-content: space-between;
     
    // margin-top: 40px;
    width: 100vw;
@media screen and (min-width: 768px){
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
}
    
}




.footer-contact-link {
    color: #D41443;
    text-decoration: none;
    font-size: 12px;
}

.footer-copyright {
    text-align: center;
    color: #907E82;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 0.28px;
    gap: 7px;
    margin-top: 10px;
    padding-bottom: 20px;
}
.footer-ver-line {
    width: 100vw;
    height: 2px;
}

.footer-copyright-text {
    margin-top: 2px;
}

@media (min-width: 768px) {

    // .footer-texts {
    //     flex-basis: calc(100% /2 - 30px);
    // }

    // .footer-text1 {
    //     font-size: 26px;
    //     letter-spacing: 1.04px;
    // }

    // .footer-text2 {
    //     font-size: 48px;
    //     letter-spacing: 2.88px;
    // }

    .footer-contact-text {
        font-size: 14px;
    }
}

@media (min-width: 320px) {

    .footer-top {
        flex-wrap: wrap;
    }
    
    .footer-texts {
        flex-basis: calc(100% / 2 - 30px);
    }
    
    .footer-text1 {
        width: 232px;
        font-size: 18px;
    }
    
    .footer-text2 {
        font-size: 34px;
    }

    .footer-contacts {
        margin-left: 18%;
    }

    .footer-contact-text {
        font-size: 12px;
    }

    .footer-copyright-text {
        height: 42px;
        padding-left: 30%;
        padding-right: 25%;
    }
}
