.hero {
    margin: 0;
    position: relative; 
    background-color: #FFB8CA;
    flex-shrink: 0;
     
    // z-index: 1;
    width: auto;
    height: 502px;
    @media (min-width: 768px){
    height: 416px;
    }
        @media (min-width: 1200px){
            height: 664px;
        }

}
.hero-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}
.hero-logo {
    position: relative;
    right: 10%;
    bottom: 20px;
    @media (min-width: 425px){
        right: 50px;
    }
    @media (min-width: 768px) {
        right: 60%;
    }
    // @media (min-width: 1024px) {
    //     right: 200px;
    // }
    @media (min-width: 1200px) {
        right: 40%;
    }
        // @media (min-width: 1200px) {
        //     right: 40px;
        //     bottom: 10px;
        // }
}
.hero-header {
    position: relative;
        right: 30px;
        top: 105px;
        z-index: 5;
        width: 218px;
        height: 106px;
        // @media (min-width: 425px) {
        //         right: 80px;
        //     }
        text-align: left;
        @media (min-width: 768px) {
            width: 162px;
            height: 80px;
            right: 160%;
            top: 10px;
        }
        // @media (min-width: 1024px) {
        //             right: 400px;
        //         }
        @media (min-width: 1200px) {
            width: 277px;
            height: 137px;
            right: 150%;
            top: 60px;
        }
                // @media (min-width: 1448px) {
                //     right: 520px;
                // }
}
.hero-ice-cream {
    position: relative;
    left: 40px;
    bottom: 28px;
    z-index: 1;
    width: 171px;
    height: 410px;
    @media (min-width: 425px) {
            left: -20px;
        }
    @media (min-width: 768px) {
        width: 143px;
        height: 336px;
        left: -180px;
        bottom: 30px;
    }

    @media (min-width: 1200px) {
        width: 236px;
        height: 557px;
        bottom: 128px;
        left: -250px;
    }
}
.hero-prod-made {
    display: flex;
    gap: 10px;
    position: relative;
    top: 125px;
    right: 30px;
    @media (min-width: 768px) {
            top: 30px;
            right: 280px;
        }
    
        @media (min-width: 1200px) {
            width: 138px;
            height: 140px;
            right: 480px;
            top: 80px;
        }
}

.hero-class-list {
     
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    list-style: none;
    display: none;
    @media (min-width: 1200px){
        display: flex;
        margin-left: -100px;
    }
}



.hero-list a {
    text-decoration: none;
    color: #FFF;
    font-size: 16PX;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.hero-buynow {
    
    // flex-direction: row;
    // justify-content: center;
    // flex-shrink: 0;
    color: #D41443;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 22px;
    background: #FFF;
    border: 0;
    display: none;
    @media (min-width: 1200px){
        width: 159px;
        height: 44px;
    }
}



h1 {
    color: #FFF;
    font-family: Titan One;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    // @media (min-width: 425px) {
    //     font-size: 22px;
    //     letter-spacing: 0.88px;
    //     }
    
        @media (min-width: 768px) {
        font-size: 22px;
            letter-spacing: 0.88px;
        }
    
        // @media (min-width: 1024px) {
        //     right: 200px;
        // }
    
        @media (min-width: 1200px) {
            font-size: 38px;
            letter-spacing: 1.52px;
        }
}

h1 span {
    color: #D41443;
    font-family: Titan One;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.5%;
    text-transform: uppercase;
    // @media (min-width: 425px) {
    //     font-size: 48px;
    //     }
    
        @media (min-width: 768px) {
        font-size: 34px;
            line-height: 90.5%;
            letter-spacing: 1.36px;
        }
    
        // @media (min-width: 1024px) {
        //     right: 200px;
        // }
    
        @media (min-width: 1200px) {
            font-size: 58px;
        }
}

.hero-products {
    width: 61.2px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D41443;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    @media (min-width: 1200px) {
        width: 107px;
        height: 40px;
        font-size: 14px;
    }
}

.hero-howitsmade {
    width: 82.8px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    border: none;
    color: #D41443;
    text-align: center;
    font-family: DM Sans;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    // @media (min-width: 768px) {
    //         width: 82.8px;
    //             height: 24px;
    //     }
    
        @media (min-width: 1200px) {
            width: 138px;
            height: 40px;
            font-size: 14px;
        }
}

.hero-number {
    color: #FFF;
    text-align: right;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: none;
}

.hero-number span {
    color: #D41443;
    text-align: right;
    font-family: Titan One;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.84px;
    text-transform: uppercase;
}

.hero-scoop {
    color: #FFF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.hero1{
    padding: 37px 37px 0;
    z-index: 1;

}

.hero2 {
    padding: 0 37px 0;
    z-index: 1;

}

.hero3 {
    position: relative;
    bottom: 20%;
    padding: 0 37px 0;
    z-index: 0;
    
}

.hero-milk {
    position: absolute;
    display: none;
    @media (min-width: 1200px){
        display: flex;
        left: 5%;
    }
}

.hero-scoop {
    position: absolute;
    left: 20%;
    display: none;
    @media (min-width: 1200px){
        display: flex;
        left: 22%;
    }
}



.hero-soo-tasty {
    position: absolute;
    right: 110px;
    bottom: 30px;
    z-index: 2;
    display: none;
    @media (min-width: 768px){
        display: flex;
        width: 190px;
            height: 150px;
             
    }
        @media (min-width: 1024px) {
            right: 180px;
            width: 190px;
            height: 150px;
             
        }
        @media (min-width: 1200px) {
            bottom: 128px;
            right: 300px;
            width: 304px;
            height: 241px;
             
        }
}

.ellipse-1 {
    position: relative;
    top: 43;
    left: 15;
    z-index: 3;
}

.hero-cafes {
    position: relative;
    z-index: 4;
}

.ellipse-2 {
    position: relative;
    top: 43;
    left: 15;
    z-index: 3;
}

.hero-strucks {
    position: relative;
    z-index: 4;
}
 
.ellipse-3 {
    width: 346px;
    height: 344px;
    flex-shrink: 0;
    position: absolute;
    bottom: 100px;
    left: 28px;
    z-index: 1;
    overflow: hidden;
     
    @media screen and (min-width: 768px) {
            width: 335px;
            height: 333px;
            left: 200px;
            bottom: 80px;  
        }
    
        @media screen and (min-width: 1200px) {
            width: 534px;
            height: 534px;
            left: 620px;
            bottom: 200px
             
        }
}


.hero-list:hover a {
    color: #D41443;
}

.hero-buynow:hover {
    background: #ECEBEB;
    cursor: pointer;
}

.hero-howitsmade:hover {
    background: #ECEBEB;
    cursor: pointer;
}
.hero-arrow {
    display: none;
}