.adv-items {
    display: flex;
    justify-content: flex-start;
     
}

.adv-list {
    display: block;
    text-align: left;
    align-items: flex-start;
}
.par1 {
    width: 288px;
    height: 79px;
}
.par2 {
    width: 317px;
    height: 58px;
}
.par3 {
    width: 288px;
    height: 82px;
}
.adv-one {
    color: #D41443;
    // text-align: right;
    font-family: Titan One;
    font-size: 58px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.32px;
    text-transform: uppercase;
}