 
@import './hero';
@import './products';
@import './about';
@import './gallery';
@import './customer-reviews';
@import './locations.scss';
@import './footer';

 
* {
   margin: 0 auto;

}
 


 
.combi2 {
     background: #FFF5F6;
     margin-top: 210px;
 }
 
