/* Locations Section Styling */

.locations-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -130px;
    // left: 20px;
    
}
.locations-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:768px){
        display: flex;
        flex-direction: row;
    }
}

.location-container {
    border-radius: 24px;
    background-color: #FFF;
    padding: 10px;
    font-family: 'DM Sans';
    font-weight: 500;
    display: flex;
    // text-align: center;
    width: 280px;
    height: 412px;
    border: 1px;
    border-color: #E1E1E1;
    margin: 10px;
    border-radius: 24px;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
    @media (min-width: 768px){
        width: 224px;
            height: 528px;
            
             
                 
    }
        @media (min-width: 768px) {
            width: 368px;
                height: 538px;
        }
}

.cat-type-container {
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 40px;
}

.location-data-container {
    margin: 40px;
}

.cat-type-container-cafe {
    background-color: #F0D1A5;
}

.cat-type-container-foodtruck {
    background-color: #C2E297;
}

.cat-type-text {
    color: white;
    font-size: 18px;
    margin: 8px 15px;
}

.cat-location {
    margin-bottom: 30px;
    color: #000000;
}

.cat-location-desc {
    margin-bottom: 30px;
    color: #907E82;
}


.location-days {
    margin-top: 20px;
}

.location-time {
    margin-bottom: 20px;
    color: #FFA5BA;
    ;
}

.location-telnum,
.location-email {
    display: block;
    text-decoration: none;
    color: #907E82;
}

.locations-buttons {
    display: flex;
    flex-direction: column;
     
    gap: -10px;
    justify-content: center;
    @media (min-width: 768px){
        flex-direction: row;
        gap: 20px;
    }
}

.locations-button-design {
    color: #D41342;
    background-color: white;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    width: 176px;
    height: 44px;
    margin-top: 40px;
    padding: 0;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
}

.locations-button-design:hover {
    background-color: #e17992;
    color: white;
}
.loc-arrow:hover {
    color: #FFF;
}
/* Media Queries */

@media (min-width: 768px) and (max-width: 1199px) {
    .location-container {
        width: 224px;
    }
}

@media (max-width: 320px) {
    .location-container {
        width: 280px;
    }
}