.product {
    --headerpink: #FFA5BA;
    --headerdarkpink: #D41443;
    --bgpink: #FFB8CA;
    --bgbrown: #F0D1A5;
    --bggreen: #C2E297;
    --white: #FFF;
    margin-top: 80px;
     

}
  
.product-header{
    margin-bottom: -10px;
}
.product-list {
    font-family: 'Titan One', sans-serif;
    list-style: none;
    padding-left: 0;
    gap: 40px;
    display: grid;
    flex-direction: column;
    justify-content: center;
    gap: -10px;
    margin: 0 10px;
    /* grid-template-rows: 1fr 1fr 1fr; */
    @media (min-width:768px){
        flex-direction: row;
        display: flex;
        margin: 0 20px;
    }
}


/*PRODUCTS STYLING*/
.prod-pic {
    position: relative;
    top: 140px;
    width: 280px;
    height: 280px;
    mix-blend-mode: multiply;
    @media screen and (min-width: 768px){
        width: 224px;
            height: 224px; 
            position: relative;
                top: 90px;
    }
     @media screen and (min-width: 1200px) {
        width: 368px;
        height: 394px;
        position: relative;
            top: 150px;
    }    
}

.product-header1 {
    color: var(--headerpink);
    /* text-align: center; */
    font-family: "Titan One";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    @media screen and (minwidth: 768px) {
        font-size: 26px;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 30px;
    }
}

.product-header2 {
    color: var(--headerdarkpink);
    text-align: center;
    font-family: "Titan One";
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 3.48px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: -50px;
    @media screen and (minwidth: 768px) {
            font-size: 48px;
        }
    
        @media screen and (min-width: 1200px) {
            font-size: 58px;
        }
    
}

 
.prod-title{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.product-name {
    color: var(--white);
    text-align: center;
    letter-spacing: 1.2px;
    font-size: 20px;
    font-weight: 400;
    width: 368px;
    height: 34px;
    /* margin-top: 10px; */
    padding-top: 5px;
    padding-bottom: 5px;
    @media (min-width: 768px) {
            
            margin-top: -30px;
        }
    @media (min-width: 1200px) {
            font-size: 30px;
            margin-top: 20px;
        }
}

.product-text {
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.56px;
    color: var(--white);
    width: 304px;
    height: 134px;
    flex-shrink: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 216px;
        height: 124px;
    @media screen and (min-width: 768px) {
            width: 188px;
                height: 150px;
                flex-shrink: 0;
        }
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            letter-spacing: 0.64px;
            width: 304px;
                height: 134px;
                flex-shrink: 0;
        }
}

.product1-bg {
    text-align: center;
    background-color: var(--bgpink);
    border-radius: 24px;
    width: 280px;
    height: 489px;
    flex-shrink: 0;
    mix-blend-mode: darken;
    padding-top: 150px;
    @media (min-width: 768px){
        width: 224px;
        height: 473px;
    }
        @media (min-width: 1200px) {
            width: 368px;
            height: 535px;
        }
}

.product2-bg {
    text-align: center;
    background-color: var(--bgbrown);
    border-radius: 24px;
    width: 280px;
    height: 489px;
    flex-shrink: 0;
    mix-blend-mode: darken;
    padding-top: 150px;
    @media (min-width: 768px) {
        width: 224px;
        height: 473px;
    }
    @media (min-width: 1200px) {
        width: 368px;
        height: 535px;
    }
}

.product3-bg {
    text-align: center;
    background-color: var(--bggreen);
    border-radius: 24px;
    width: 280px;
    height: 489px;
    flex-shrink: 0;
    mix-blend-mode: darken;
    padding-top: 150px;
    @media (min-width: 768px) {
        width: 224px;
        height: 473px;
        }
    @media (min-width: 1200px) {
         width: 368px;
        height: 535px;
        }
}
.product-arrow-icon {
    /* width: 40px; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    margin-top: 40px;
}
.product1{
    margin-top: 0px;
}
.product2 {
    position: relative;
    /* top: -100px; */
    @media (min-width: 768px){
        /* top: 50px; */
    }
}
.prod-ellips {
    margin: 20px 0;
     
}