.product {
    --headerpink: #FFA5BA;
    --headerdarkpink: #D41443;
    --bgpink: #FFB8CA;
    --bgbrown: #F0D1A5;
    --bggreen: #C2E297;
    --white: #FFF;

}

/* * {
    box-sizing: border-box;
} */
 
.product-header{
    margin-bottom: -140px;
}
.product-list {
    font-family: 'Titan One', sans-serif;
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: -10px;
    margin: 0 10px;
    @media screen and (min-width:768px){
        flex-direction: row;
        display: flex;
        gap: 50px;
    }
}


/*PRODUCTS STYLING*/
.prod-pic {
    position: relative;
    top: 150px;
    mix-blend-mode: multiply;
    /* width: 280px;
    height: 280px;
    flex-shrink: 0;
    @media (min-width:768px){
        width: 224px;
            height: 224px;
            flex-shrink: 0;
    } */

    
    
    
}

.product-header1 {
    color: var(--headerpink);
    /* text-align: center; */
    font-family: "Titan One";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    @media screen and (minwidth: 768px) {
        font-size: 26px;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 30px;
    }
}

.product-header2 {
    color: var(--headerdarkpink);
    text-align: center;
    font-family: "Titan One";
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 3.48px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: -50px;
    
}

.product img {
    width: 368px;
    height: 394px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.product-name {
    color: var(--white);
    text-align: center;
    letter-spacing: 1.2px;
    font-size: 30px;
    font-weight: 400;
    width: 368px;
    height: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.product-text {
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.64px;
    color: var(--white);
    width: 304px;
    height: 134px;
    flex-shrink: 0;
    margin: auto;
    
}

.product1-bg {
    /* display: flex;
    justify-content: last baseline;
    align-items: center; */
    background-color: var(--bgpink);
    border-radius: 24px;
    width: 368px;
    height: 535px;
    flex-shrink: 0;
    mix-blend-mode: darken;
    padding-top: 150px;
}

.product2-bg {
    background-color: var(--bgbrown);
    border-radius: 24px;
    width: 368px;
    height: 535px;
    flex-shrink: 0;
    mix-blend-mode: darken;
        padding-top: 150px;
}

.product3-bg {
    background-color: var(--bggreen);
    border-radius: 24px;
    width: 368px;
    height: 535px;
    flex-shrink: 0;
    mix-blend-mode: darken;
    padding-top: 150px;
}
.product-arrow-icon {
    width: 2px;
    height: 2px;

}