<section class="advantage">
    <div class="adv-section">
         
            <div class="adv-list">
                <img src="./images/advantage/frame4.png" alt="frame" width="50" height="50">
                <h2 class="visually-hidden">721</h2>
                <p class="par1">At 721 Cow, we're passionate about producing the highest quality ice cream possible.</p>

            </div>
            <div class="adv-list">
                <img src="./images/advantage/apples.png" alt="frame" width="50" height="50">
                <h2 class="visually-hidden">16kg</h2>
                <p class="par2">You can be sure you're getting a scoop of the freshest ice cream around.</p>
            </div>
            <div class="adv-list">
                <img src="./images/advantage/lollipop.png" alt="frame" width="50" height="40">
                <h2 class="visually-hidden">84</h2>
                <p class="par3">We use only the freshest, locally-sourced ingredients to make our 84 unique and delicious flavors.</p>
            </div>
         

    </div>
</section>