<section class="advantage">
    <div class="adv-section">
        <ul class="adv-items">
            <li class="adv-list">
                <img src="./images/advantage/frame4.png" alt="frame" width="50" height="50">
                <p class="adv-one">721</p>
                <p class="par1">At 721 Cow, we're passionate about producing the highest quality ice cream possible.</p>

            </li>
            <li class="adv-list">
                <img src="./images/advantage/apples.png" alt="frame" width="50" height="50">
                <p class="adv-one">16kg</p>
                <p class="par2">You can be sure you're getting a scoop of the freshest ice cream around.</p>
            </li>
            <li class="adv-list">
                <img src="./images/advantage/lollipop.png" alt="frame" width="50" height="40">
                <p class="adv-one">84</p>
                <p class="par3">We use only the freshest, locally-sourced ingredients to make our 84 unique and delicious flavors.</p>
            </li>
        </ul>

    </div>
</section>