<section class="customer-reviews-section">
    <div class="customer-container">
        <div class="customer-slider">
            <div class="customer-slides">
                <!-- SLIDE 1 -->
                <div id="slide-1" class="slide">
                    <div class="slide-container">
                        <img src="./images/customer-reviews/testimonials1.jpg" alt="Image of Customer">
                        <!-- CUSTOMER COMMENT/TESTIMONIAL -->
                        <div class="customer-comment">
                            <p>
                                <span>I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</span>
                            </p>
                        </div>
                        <svg width="32px" height="4px">
                            <use href="./images/customer-reviews/Ellipsis.svg#Ellipsis"></use>
                        </svg>
                        <!-- CUSTOMER NAME & LOCATION -->
                        <div class="customer-details">
                            <h2>Emily, Los Angeles</h2>
                        </div>
                    </div>
                </div>

                <!-- SLIDE 2 (./images/testimonials3.jpg)-->
                <div id="slide-2" class="slide">
                    <div class="slide-container">
                        <img src="./images/customer-reviews/testimonials3.jpg" alt="Image of Customer">
                        <!-- CUSTOMER COMMENT/TESTIMONIAL -->
                        <div class="customer-comment">
                            <p>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere explicabo iste illum, tempora amet enim. Quis mollitia enim laboriosam. Error, debitis!</span>
                            </p>
                        </div>
                        <!-- CUSTOMER NAME & LOCATION -->
                        <div class="customer-details">
                            <h2>Emily, Los Angeles</h2>
                        </div>
                    </div>
                </div>

                <!-- SLIDE 3 (./images/testimonials4.jpg)-->
                <div id="slide-3" class="slide">
                    <div class="slide-container">
                        <img src="./images/customer-reviews/testimonials4.jpg" alt="Image of Customer">
                        <!-- CUSTOMER COMMENT/TESTIMONIAL -->
                        <div class="customer-comment">
                            <p>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sequi inventore quis fugit tempore nobis veniam similique eaque tenetur, delectus nulla accusamus aliquid totam soluta adipisci!</span>
                            </p>
                        </div>
                        <!-- CUSTOMER NAME & LOCATION -->
                        <div class="customer-details">
                            <h2>Emily, Los Angeles</h2>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    
    <div class="customer-slider-nav">
        <a href="#slide-1" class="customer-slider-nav-button">
            <svg width="12px" height="12px" fill="#D31342">
                <use href="./images/customer-reviews/Home.svg#home-btn"></use>
            </svg>
        </a>
        <a href="#slide-2">
            <svg width="12px" height="12px" class="customer-slider-nav-button">
                <use href="./images/customer-reviews/navbtn.svg#nav-btn"></use>
            </svg>
        </a>
        <a href="#slide-3">
            <svg width="12px" height="12px" class="customer-slider-nav-button">
                <use href="./images/customer-reviews/navbtn.svg#nav-btn"></use>
            </svg>
        </a>
    </div>
</section>