<footer>
    <div class="footer-contents">
        <div class="footer-top">
            <div class="footer-texts">
                <p class="footer-text1">HOMEMADE ICE CREAM MADE</p>
                <p class="footer-text2">WITH PASSION</p>
            </div>
            <div class="footer-contacts">
                <div class="footer-socials">
                    <a class="socials-link" href="" target="_blank">
                        <svg class="socials-link-icon" width="34" height="34">
                            <circle cx="17" cy="17" r="17" />
                            <use href="/src/images/social-media.svg#icon-github"></use>
                        </svg>
                    </a>
                    <a class="socials-link" href="" target="_blank">
                        <svg class="socials-link-icon" width="34" height="34">
                            <circle cx="17" cy="17" r="17" />
                            <use href="/src/images/social-media.svg#icon-telegram"></use>
                        </svg>
                    </a>
                    <a class="socials-link" href="" target="_blank">
                        <svg class="socials-link-icon" width="34" height="34">
                            <circle cx="17" cy="17" r="17"/>
                            <use href="/src/images/social-media.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </div>
                <p class="footer-contact-text">Feel free to contact <a class="footer-contact-link"
                        href="tel:+610383766284">+61 (0) 383 766 284</a></p>
            </div>
        </div>
        <div class="footer-copyright">
            <svg width="1167" height="2" viewBox="0 0 1167 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1H1167" stroke="#E1E1E1" />
            </svg>
            <p class="footer-copyright-text">© 2022 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
</footer>