<section>
    <div class="image-group">
    <img src="/src/images/gallery/gallery-image-group.png" alt="image gallery group" class="image-group">
    </div>
    <div class="gallery">
    <table class="galry">
        <tr class="upper-row">
            <td rowspan="2" class="first-pic">
                <img class="img-gallery" src='./images/gallery/home-pic5 5.png' alt="gallery image five">
            </td>
            <td class="pic4-upper-pic">
                <img class="img-gallery" src='./images/gallery/home-pic5 4.png' alt="gallery image four">
                <img class="img-gallery" src='./images/gallery/home-pic5 6.png' alt="gallery image six">
            </td>
            <td class="pic1-upper-pic">
                <img class="img-gallery" src='./images/gallery/home-pic5 1.png' alt="gallery image one">
                <img class="img-gallery" src='./images/gallery/home-pic5 7.png' alt="gallery image seven">
            </td>
            <td class="pic9-upper-pic">
                <img class="img-gallery" src='./images/gallery/home-pic5 9.png' alt="gallery image nine">
                <img class="img-gallery" src='./images/gallery/home-pic5 8.png' alt="gallery image eight">
            </td>
            <td class="pic10-upper-pic">
                <img class="img-gallery" src='./images/gallery/home-pic5 10.png' alt="gallery image ten">
                <img class="img-gallery" src='./images/gallery/home-pic5 12.png' alt="gallery image twelve">

            </td>
            <td rowspan="2" class="last-pic">
                <img class="img-gallery" src='./images/gallery/home-pic5 11.png' alt="gallery image eleven">
            </td>
        </tr>
        <tr class="lower-row">
            <td class="pic6-lower-pic">
                
            </td>
            <td class="pic7-lower-pic">
                
            </td>
            <td class="pic8-lower-pic">
                
            </td>
            <td class="pic12-lower-pic">
                
            </td>
        </tr>
    </table>
    </div>
</section>
