<section class="gallery">
    <table>
        <tr>
            <td rowspan="2">
                <img class="img-gallery" src='./images/gallery/home-pic1.png' alt="gallery image five">
            </td>
            <td>
                <img class="img-gallery" src='./images/gallery/home-pic5 4.png' alt="gallery image four">
            </td>
            <td>
                <img class="img-gallery" src='./images/gallery/home-pic5 1.png' alt="gallery image one">
            </td>
            <td>
                <img class="img-gallery" src='./images/gallery/home-pic5 9.png' alt="gallery image nine">
            </td>
            <td>
                <img class="img-gallery" src='./images/gallery/home-pic5 10.png' alt="gallery image ten">
            </td>
            <td rowspan="2"><img class="img-gallery" src='./images/gallery/home-pic5 11.png' alt="gallery image eleven"></td>
        </tr>
        <tr>
            <td>
                <img class="img-gallery" src='./images/gallery/home-pic5 6.png' alt="gallery image six">
            </td>
            <td>
                <img class="img-gallery" src='./images/gallery/home-pic5 7.png' alt="gallery image seven">
            </td>
            <td>
                <img class="img-gallery" src='./images/gallery/home-pic5 8.png' alt="gallery image eight"></td>
            <td>
                <img class="img-gallery" src='./images/gallery/home-pic5 12.png' alt="gallery image twelve">
            </td>
        </tr>
    </table>
</section>