<section>
    <div class="gallery-container">
        <div class="column">
            <div class="row">
                <img src='./images/gallery/home-pic5 5.png' alt="gallery image one">
            <div class="row">
                <img src='./images/gallery/home-pic5 4.png' alt="gallery image four">
                <img src='./images/gallery/home-pic5 6.png' alt="gallery image six">            
            </div>
            <div class="row">
                <img src='./images/gallery/home-pic5 1.png' alt="gallery image one">
                <img src='./images/gallery/home-pic5 7.png' alt="gallery image seven">
            </div>
            <div class="row">
                <img src='./images/gallery/home-pic5 9.png' alt="gallery image nine">
                <img src='./images/gallery/home-pic5 8.png' alt="gallery image eight">
            </div>
            <div class="row">
                <img src='./images/gallery/home-pic5 11.png' alt="gallery image eleven">
            </div>
        </div>        
    </div>
</section>