<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&family=Titan+One&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&family=Titan+One&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <!-- Header -->
    <header class="hero-class">
        <a href="#">
            <img src="./images/logo.jpg" alt="Logo Ice Cream">
        </a>
        <ul class="hero-class-list">
            <li class="hero-list list">
                <a href="#">Home</a>
            </li>
            <li class="hero-list list">
                <a href="#">About us</a>
            </li>
            <li class="hero-list list">
                <a href="#">How it's made?</a>
            </li>
            <li class="hero-list list">
                <a href="#">Our products</a>
            </li>
            <li class="hero-list list">
                <a href="#">Contact</a>
            </li>
        </ul>
        <div>
            <button>Buy now <img src="./images/symbol-arrow-right.jpg" alt="right arrow"> </button>
        </div>
    </header>

    <!-- Home Section -->

    <Section class="hero-class">
        <div>
            <h1 class="hero-icecream">
                ICE CREAM
                <br>MADE WITH
                <br><span>PASSION</span>
            </h1>
            <button>Products</button>
            <button>How it's made?</button>
        </div>
        <div>
            <p class="hero-cafes">16 <br>cafes</p>
            <p class="hero-strucks">23 <br>food strucks</p>
        </div>
    </Section>

    <section class="hero-class">
        <img class="hero-milk" src="./images/milk.jpg" alt="milk">
        <p>Indulge in a scoop of ice<br>cream made with passion and<br> treat your taste buds to an <br>unforgettable
            experience!</p>
        <img class="hero-ice-cream" src="./images/ice cream.jpg" alt="icre cream">
        <img class="hero-soo-tasty" src="./images/soo tasty!.jpg" alt="soo tasty">
    </section>
</body>

</html>