    <!-- Header -->
    <section class="hero">
    <section class="hero-class hero1">
        <a href="#">
            <img class="hero-logo" src="./images/hero-section01/logo.jpg" alt="Logo Ice Cream">
        </a>
        <div class="hero-list-items">  
            <ul class="hero-class-list">
            <li class="hero-list list">
                <a href="#">Home</a>
            </li>
            <li class="hero-list list">
                <a href="#">About us</a>
            </li>
            <li class="hero-list list">
                <a href="#about-section">How it's made?</a>
            </li>
            <li class="hero-list list">
                <a href="#product-section">Our products</a>
            </li>
            <li class="hero-list list">
                <a href="#">Contact</a>
            </li>
            </ul>
        </div>

        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="menu-icon" width="20" height="14">
                <use class="mobile-menu-icon" href="./images/hero-section01/Burger.svg#Burger"></use>
            </svg>
        </button>
        <div class="js-menu-container mobile-menu" id="mobile-menu">
            <button class="mob-close" type="button">
                <svg class="js-close-menu"  >
                    <use class="mobile-menu-icon" href="./images/icons.svg#close"></use>
                </svg>
            </button>
            <div class="mob-main-nav">
                <button class="mob-hero-button">Buy now<img class="mob-arrow" src="./images/hero-section01/Vector 1.png"
                        alt="right arrow"></button>
                <ul class="mob-hero-class-list">
                    <li class="hero-rectangle-container">
                        <img class="hero-rectangle" src="./images/hero-section01/Rectangle 15.svg" alt="rectangle">
        
                        <div class="mob-hero-list list">
                            <a href="#">Home</a>
                        </div>
                    </li>
                    <li class="hero-rectangle-container">
                        <img class="hero-rectangle" src="./images/hero-section01/Rectangle 15.svg" alt="rectangle">
                        <div class="mob-hero-list list">
                            <a href="#">About us</a>
                        </div>
                    </li>
                    <li class="hero-rectangle-container">
                        <img class="hero-rectangle" src="./images/hero-section01/Rectangle 15.svg" alt="rectangle">
                        <div class="mob-hero-list list">
                            <a href="#about-section">How it's made?</a>
                        </div>
                    </li>
                    <li class="hero-rectangle-container">
                        <img class="hero-rectangle" src="./images/hero-section01/Rectangle 15.svg" alt="rectangle">
                        <div class="mob-hero-list list">
                            <a href="#product-section">Our products</a>
                        </div>
                    </li>
                    <li class="hero-rectangle-container">
                        <img class="hero-rectangle" src="./images/hero-section01/Rectangle 15.svg" alt="rectangle">
                        <div class="mob-hero-list list">
                            <a href="#">Contact</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="hero-button"> -->
            <button class="hero-button">Buy now<img src="./images/hero-section01/Vector 1.png" alt="right arrow"> </button>
        <!-- </div> -->
    </section>

    <!-- Home Section -->

    <Section class="hero-class hero2">
        <div>
            <h1 class="hero-header">
                ICE CREAM
                <br>MADE WITH
                <br><span>PASSION</span>
            </h1>
            <div class="hero-prod-made">
            <button class="hero-products"> <a class="hero-products" href="#product-section" >Products</a></button>
            <button class="hero-howitsmade"> <a class="hero-howitsmade" href="#about-section">How it's made?</a> </button></div>
        </div>
        <div class="hero-number">
            <img class="ellipse-1" src="./images/hero-section01/Ellipse 1.png" alt="ellipse 1">
            <p class="hero-cafes"><span>16</span><br>cafes</p>
            <img class="ellipse-2" src="./images/hero-section01/Ellipse 2.png" alt="ellipse 2">
            <p class="hero-trucks"><span>23</span><br>food trucks</p>
        </div>
    </Section>
    <section class="hero-class hero3">
        <img class="hero-milk" src="./images/hero-section01/milk.jpg" alt="milk">
        <p class="hero-scoop">Indulge in a scoop of ice<br>cream made with passion and<br> treat your taste buds to an <br>unforgettable
            experience! <br> <br></p>
        
         <div class="hero-arrow">
        <img src="./images/hero-section01/arrow-right 3.png" alt="arrow right"></div>

        <div class="ellipse3-cont">
        <img class="ellipse-3" src="./images/hero-section01/Ellipse 3.png" alt="ellipse 3"></div>
        <img class="hero-ice-cream" src="./images/hero-section01/ice cream.jpg" alt="icre cream">
        <img class="hero-soo-tasty" src="./images/hero-section01/soo tasty!.jpg" alt="soo tasty">
        
    </section>
    </section>
    <script type="text/javascript" src="/src/index.js"></script>
</body>

</html>