<section class="hero-header">
    <div class="hero-section">
        <div class="logo">
            <img src="./images/hero-header/Group.png">
        </div>
        <nav class="navigation">
            <ul class="nav-items">
                <li class="nav list">
                    <a class="home" href="hero-header">Home</a>
                </li>
                <li class="nav-list">
                    <a class="about-us" href="about">About us</a>
                </li>
                <li class="nav-list">
                    <a class="How-its-made" href="">How it's made</a>
                </li>
                <li class="nav-list">
                    <a class="" href="">Our-products</a>
                </li>
                <li class="nav-list">
                    <a class="Contact" href="">Contact</a>
                </li>
            </ul>  
        </nav>
        <div>
            <div class="buynow">
            <button type="button" class="buy-btn" data-modal-open="modal1">Buy now<img class="buy-arrow" src="./images/hero-header/arrow-right 3.png"></img>
            </button>
            </div>
            <!-- <div class="backdrop is-hidden" data-modal>
                <div class="modal">
                    <button type="button" class="modal-close-btn" data-modal-close>
                        <svg width="18" height="18">
                            <use href="./images/hero-header/icons.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    
    <script src="/src/hero-header.js"></script>
</section>