<section class="locations-section">
        <section class="locations-crawlers">
        </section>

        <div class="locations-cards">
            <div class="location-container">
                <div class="location-data-container">
                    <div class="cat-type-container cat-type-container-cafe">
                        <p class="cat-type-text">CAFE</p>
                    </div>
                    <div class="cat-location">Chicago</div>
                    <div class="cat-location-desc">Handcrafted coffee, baked goods, and premium ice cream        
                    </div>
                    
                        <img class="location-cat-separator" src="/src/images/locations/locations-section-line-separator.jpg"/>
                    
                    <div class="location-day&time">
                        <div class="location-days">Monday - Friday
                        </div>
                        <div class="location-time">06:00 AM - 10:00 PM            
                        </div>
                        <div class="location-days">Saturday - Sunday
                        </div>
                        <div class="location-time">08:00 AM - 16:00 PM
                        </div>
                    </div>
                   
                        <img class="location-cat-separator" src="/src/images/locations/locations-section-line-separator.jpg" />
                    
                    <div class="location-contacts">
                        <a class="location-telnum" href="tel:+14251234563">+61(0) 383 766 284</a>
                        <a class="location-email" href="mailto:example@mail.ru">noreply@envato.com</a>
                    </div>
                </div>
            </div>

            <div class="location-container">
                <div class="location-data-container">
                    <div class="cat-type-container cat-type-container-foodtruck">
                            <p class="cat-type-text">FOOD TRUCK</p>
                        </div>
                        <div class="cat-location">Los Angeles</div>
                        <div class="cat-location-desc">Fusion cuisine and refreshing ice cream made with passion.
                        </div>
                       
                            <img class="location-cat-separator" src="/src/images/locations/locations-section-line-separator.jpg" />
                        
                        <div class="location-day&time">
                        <div class="location-days">Monday - Friday
                        </div>
                        <div class="location-time">06:00 AM - 10:00 PM
                        </div>
                        <div class="location-days">Saturday - Sunday
                        </div>
                        <div class="location-time">08:00 AM - 16:00 PM
                        </div>
                    </div>
                    
                        <img class="location-cat-separator" src="/src/images/locations/locations-section-line-separator.jpg" />
                   
                    <div class="location-contacts">
                        <a class="location-telnum" href="tel:+14251234563">+61(0) 383 766 284</a>
                        <a class="location-email" href="mailto:example@mail.ru">noreply@envato.com</a>
                    </div>
                </div>
            </div>

            <div class="location-container">
                <div class="location-data-container">
                    <div class="cat-type-container cat-type-container-cafe">
                            <p class="cat-type-text">CAFE</p>
                        </div>
                        <div class="cat-location">New York</div>
                        <div class="cat-location-desc">Specialty teas, artisanal pastries, mouth-watering ice cream.
                        </div>
                      
                            <img class="location-cat-separator" src="/src/images/locations/locations-section-line-separator.jpg" />
                      
                        <div class="location-day&time">
                        <div class="location-days">Monday - Friday
                        </div>
                        <div class="location-time">06:00 AM - 10:00 PM
                        </div>
                        <div class="location-days">Saturday - Sunday
                        </div>
                        <div class="location-time">08:00 AM - 16:00 PM
                        </div>
                    </div>
                    
                        <img class="location-cat-separator" src="/src/images/locations/locations-section-line-separator.jpg" />
                  
                    <div class="location-contacts">
                        <a class="location-telnum" href="tel:+14251234563">+61(0) 383 766 284</a>
                        <a class="location-email" href="mailto:example@mail.ru">noreply@envato.com</a>
                    </div>
                </div>
            </div>

            <div class="locations-buttons">
                <button class="locations-button-design">Our Locations 
                    <svg width="5" height="8">
                        <use href="/src/images/about/about-icons.svg#icon-arrow-right"></use>
                    </svg>
                </button>
                <button class="locations-button-design">Franchise 
                    <svg width="5" height="8">
                        <use href="/src/images/about/about-icons.svg#icon-arrow-right"></use>
                    </svg>  
                </button>
            </div>
        </div>
    </section>