<section class="product">
    <div class="product-header">
    <h3 class="product-header1">100% NATURAL</h3>
    <h2 class="product-header2">PRODUCTS</h2></div>
    <div class="multicolumn">
        <ul class="product-list">
            <li class="product1">
                <img class="prod-pic" src="./images/products/home-pic1.jpg" alt="ICE CREAM" />
                <div class="product1-bg">
                    <div class="prod-title">
                    <h3 class="product-name">ICE CREAM</h3></div>
                    <div class="prod-ellipse">
                        <svg class="prod-ellips" width="32px" height="4px">
                            <use href="./images/products/Ellipsis.svg#Ellipsis"></use>
                        </svg>
                    </div>
                    <p class="product-text">Indulge in our rich and creamy ice cream, handcrafted with all-natural
                        ingredients and available in a variety of flavors.</p>
                     <div class="product-arrow-icon">
                        <img  src="./images/products/arrow-right 4.png" alt="arrow-right 4" >
                        </div>
                </div>

                 
            </li>
            <li class="product2"> <img class="prod-pic" src="./images/products/home-pic2.jpg" alt="ICE COFFEE" />
                <div class="product2-bg">
                    <div class="prod-title">
                    <h3 class="product-name">ICE COFFEE</h3></div>
                    <div class="prod-ellipse">
                        <svg class="prod-ellips" width="32px" height="4px">
                            <use href="./images/products/Ellipsis.svg#Ellipsis"></use>
                        </svg>
                    </div>
                    <p class="product-text">Refresh and energize with our perfectly brewed iced coffee, made with
                        high-quality beans and served over ice.</p>
                        <div class="product-arrow-icon">
                            <img src="./images/products/arrow-right 2.png" alt="arrow-right 2">
                        </div>
                </div>

            </li>
            <li class="product3"> <img class="prod-pic" src="./images/products/home-pic3.jpg" alt="MILKSHAKES" />
                <div class="product3-bg">
                    <div class="prod-title">
                    <h3 class="product-name">MILKSHAKES</h3></div>

                    <div class="prod-ellipse">
                        <svg class="prod-ellips" width="32px" height="4px">
                            <use href="./images/products/Ellipsis.svg#Ellipsis"></use>
                        </svg>
                    </div>
                    <p class="product-text">Satisfy your sweet tooth with our thick, made with premium ice cream, topped
                        with whipped cream and your favorite toppings.</p>
                        <div class="product-arrow-icon">
                            <img src="./images/products/arrow-right 1.png" alt="arrow-right 1">
                        </div>
                </div>
            </li>
        </ul>
    </div>

</section>